$negro: rgba(34, 34, 34, 1);
$negro50: rgba(56, 56, 56);
$negro10: rgba(78, 78, 78);
$blanco: rgba(255, 255, 255, 1);
$blanco50: rgba(255, 255, 255, 0.5);
$blanco20: rgba(233, 233, 233);
$rojo: rgba(255, 0, 0, 1);
